<div class="flex flex-no-wrap bg-gray-400 rounded-full">
  <div class="flex-grow flex justify-center py-2 rounded-full" [ngClass]="{'bg-orange-300 text-gray-900': selected === 'total'}" (click)="select('total')">Total</div>
  <div class="flex-grow flex justify-center py-2 rounded-full" [ngClass]="{'bg-orange-300': selected === 'price'}" (click)="select('price')">Price</div>
  <div class="flex-grow flex justify-center py-2 rounded-full" [ngClass]="{'bg-orange-300': selected === 'co2'}" (click)="select('co2')">CO2</div>
  <div class="flex-grow flex justify-center py-2 rounded-full" [ngClass]="{'bg-orange-300': selected === 'kcal'}" (click)="select('kcal')">Kcal</div>
</div>
