<app-navbar>
  <app-navbar-icon [icon]="goalIcon"></app-navbar-icon>
  <app-navbar-title>Goals</app-navbar-title>
</app-navbar>
<app-page-content>

  <a [routerLink]="['/goal', 'co2']" class="w-full list-item">
    <div class="text-xl text-gray-700 px-3 pt-4 pb-2 flex items-center">
      <app-score [value]="goal?.co2Score" class="mr-2">

      </app-score>
      <div class="flex-grow">CO<sub>2</sub> Score</div>

      <div class="flex text-xl">
        <div class="mr-2">Tips</div>
        <fa-icon [icon]="navigateIcon"></fa-icon>
      </div>
    </div>
    <div class="flex w-full items-center px-3 pb-6">
      <img src="assets/svgs/undraw_environment_iaus.svg" class="h-24 flex-grow"/>
    </div>
  </a>

  <a [routerLink]="['/goal', 'kcal']" class="w-full list-item">
    <div class="text-xl text-gray-700 px-3 pt-4 pb-2 flex items-center">
      <app-score [value]="goal?.kcalScore" class="mr-2">
      </app-score>
      <div class="flex-grow">Kcal Score</div>

      <div class="flex text-xl">
        <div class="mr-2">Tips</div>
        <fa-icon [icon]="navigateIcon"></fa-icon>
      </div>
    </div>
    <div class="flex w-full items-center px-3 pb-6">
      <img src="assets/svgs/undraw_healthy_habit_bh5w.svg" class="h-24 flex-grow"/>
    </div>
  </a>


  <a [routerLink]="['/goal', 'price']" class="w-full list-item">
    <div class="text-xl text-gray-700 px-3 pt-4 pb-2 flex items-center">
      <app-score [value]="goal?.priceScore" class="mr-2">
      </app-score>
      <div class="flex-grow">Price Score</div>

      <div class="flex text-xl">
        <div class="mr-2">Tips</div>
        <fa-icon [icon]="navigateIcon"></fa-icon>
      </div>
    </div>
    <div class="flex w-full items-center px-3 pb-6">
      <img src="assets/svgs/undraw_personal_finance_tqcd.svg" class="h-24 flex-grow"/>
    </div>
  </a>

</app-page-content>
